.filters {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--filter-panel-height);
  background-color: var(--default-solid-background);
  display: flex;
  align-items: center;
  font-size: 2rem;
  border-bottom: 1px solid rgb(255 255 255 / 0.1);
  padding: 0 10px;
}

.search {
  height: 32px;
  background-color: rgb(255 255 255 / 0.03);
  border: 1px solid rgb(255 255 255 / 0.1);
  display: flex;
  align-items: center;
  padding: 0 4px;
  width: 250px;
  gap: 4px;
}

.search:focus-within {
  border-color: rgb(255 255 255 /0.3);
}

.search input {
  flex-grow: 1;
  height: 20px;
  outline: none;
}

.iconClose,
.iconSearch {
  color: var(--text-secondary);
  width: 20px;
  height: 20px;
}

.search button {
  display: flex;
  justify-content: center;
  align-items: center;
}
