.filters {
  background-color: var(--default-solid-background);
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: 12px;
  gap: 10px;
  container-type: inline-size;
  container-name: filters;
  flex-wrap: wrap;
}

.filterBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filterIcon {
  flex-shrink: 0;
  color: var(--text-secondary)
}

button.reset {
  height: 32px;
  padding: 0 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--text-secondary);
  white-space: nowrap;
}

@media (hover: hover) and (pointer: fine) {
  button.reset:hover {
    background-color: rgb(255 255 255 / 0.1);
    color: var(--text-primary);
  }
}

@container filters (width < 566px) {
  flex-direction: column;
}
