.content {
  position: relative;
  flex-grow: 1;
}

.empty {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  position: absolute;
  inset: 0;
  transform: translateX(100%);
  transition: transform 0.2s;
  will-change: transform;
}

.details.opened {
  transform: translateX(0);
}
