.content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.empty {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.details {
  position: absolute;
  inset: 0;
  transform: translateX(100%);
  transition: transform 0.2s;
  will-change: transform;
}

.details.opened {
  transform: translateX(0);
}

button.refresh {
  height: 32px;
  padding: 0 12px;
  border: 1px solid rgb(255 255 255 / 0.1);
  backdrop-filter: blur(5px);
}


@media (hover: hover) and (pointer: fine) {
  button.refresh:hover {
    border-color: rgb(255 255 255 / 0.3);
  }
}
