.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info.empty {
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: var(--text-secondary);
}

.banIcon {
  width: 48px;
  height: 48px;
  color: var(--muted-icon);
}

.centerLine {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.25rem;
}

.info .ship {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  max-width: 400px;
  margin: 0 auto;
}

.flagBox {
  height: 32px;
  width: 32px;
}

.flag {
  width: 100%;
}

.description {
  flex-grow: 1;
  overflow: auto;
}