.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info.empty {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banIcon {
  width: 48px;
  height: 48px;
  color: rgb(255 255 255 / 0.1);
}

.centerLine {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
}

.ship {
  aspect-ratio: 16/9;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.flagBox {
  height: 32px;
  width: 32px;
}

.flag {
  width: 100%;
}