.preview {
  height: 48px;
  width: 96px;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview.empty {
  background-color: var(--muted-background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.preview.empty img {
  width: 100%;
  height: auto;
}

.preview img {
  height: 100%;
}