.header {
  background-color: var(--default-solid-background);
  height: 64px;
  width: 100%;
  flex-shrink: 0;
  border-bottom: 1px solid rgb(255 255 255 / 0.1);
  display: flex;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;
}

.leftBox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.toggle {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: background-color;
  transition: background-color 0.2s;
  padding: 8px;
  border: 1px solid rgb(255 255 255 / 0.1);
}

.arrow {
  will-change: transform;
  transition: transform 0.2s;
}

.arrow.left {
  transform: rotate(-90deg);
}

.arrow.right {
  transform: rotate(90deg);
}

.logo {
  height: 40px;
}

@media (hover: hover) and (pointer: fine) {
  .toggle:hover {
    border-color: rgb(255 255 255 / 0.3);
  }
}
