.main {
  background-color: rgb(97 185 182 / 0.2);
  height: 100%;
  transition: margin-left var(--default-transition-time);
  will-change: margin-left;
  margin-left: 0;
  display: flex;
}

.main.compressed {
  margin-left: 350px;
}
