.main {
  background-color: rgb(97 185 182 / 0.2);
  height: 100%;
  transition: margin-left 0.1s;
  will-change: margin-left;
  margin-left: 0;
  display: flex;
}

.main.compressed {
  margin-left: 350px;
}

.content {
  background-color: rgb(122 97 185 / 0.2);
  flex-grow: 1;
  overflow: auto;
  padding: 10px;
}

.row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 10px;
}

.card {
  background-color: rgb(59 61 68 / 0.38);
}
