.sidebar {
  background: var(--default-background);
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 1px solid var(--default-border);
}

.content {
  will-change: transform;
  transition: transform var(--default-transition-time);
  height: 100%;
  padding: 24px;
  overflow: auto;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.sidebar.hidden .content {
  transform: translateX(-100%);
}

.sidebar.isDesktop {
  background: var(--transparent-gradient-background);
  width: 350px;
}
