.trigger {
  height: 32px;
  padding: 0 12px;
  border: 1px solid var(--default-border);
}

.trigger[data-state='open'] {
  border-color: var(--focused-control-border);
}

.trigger.isHighlighted {
  position: relative;
}

.trigger.isHighlighted:after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--highlight);
  top: 4px;
  right: 4px;
}

.content {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: var(--popup-background);
  backdrop-filter: blur(5px);
  min-width: 120px;
}

.item {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--default-border);
  cursor: pointer;
  padding: 0 12px;
}

.item[data-state='checked'] {
  color: var(--highlight);
}

@media (hover: hover) and (pointer: fine) {
  .trigger:hover,
  .item:hover {
    background-color: var(--dark-control-background);
    border-color: var(--focused-control-border);
    outline: none;
  }
}
